.vscode/
build/
build_mingw/
jdebug/
tools/sysconfig/*
*.run
tools/gcc-arm-none-eabi/*
.cache/

.claude
tools/sysconfig
1d3_TFT_Example

CLAUDE.md
graphify-out/

__pycache__/
assets/BadApple.mp4
assets/YiYangDeFengBaoZhongXin.mp3
assets/LaoJieBei.flac
